[[plugins]]
repo = 'Shougo/dein.vim'

[[plugins]]
repo = 'Shougo/deoplete.nvim'

[[plugins]]
repo = 'vim-airline/vim-airline'

[[plugins]]
repo = 'vim-airline/vim-airline-themes'

[[plugins]]
repo = 'Townk/vim-autoclose'

[[plugins]]
repo =  'scrooloose/syntastic'

[[plugins]]
repo = 'Yggdroot/indentLine'
