[[plugins]]
repo = 'Shougo/denite.nvim'
hook_add='''
    " Prefix key
    nnoremap [denite] <Nop>
    nmap <C-j> [denite]
    " Keymap
    " Current direcotry files
    nnoremap <silent> [denite]<C-p> :<C-u>Denite file_rec<CR>
    " Buffer files
    nnoremap <silent> [denite]<C-b> :<C-u>Denite buffer<CR>
    " Grep files
    nnoremap <silent> [denite]<C-g> :<C-u>Denite -auto_preview grep<CR>
    " Outline
    nnoremap <silent> [denite]<C-o> :<C-u>Denite outline<CR>
    " Command history
    nnoremap <silent> [denite]<C-n> :<C-u>Denite command_history<CR>
    " Seach dotfiles
    nnoremap <silent> [denite]<C-d> :<C-u>call denite#start([{'name': 'file_rec', 'args': ['~/dotfiles']}])<CR>
    " Seach dotfiles
    nnoremap <silent> [denite]<C-w> :<C-u>call denite#start([{'name': 'file_rec', 'args': ['~/workspace']}])<CR>
    " 上下移動を<C-N>, <C-P>
    call denite#custom#map('normal', '<C-N>', '<denite:move_to_next_line>')
    call denite#custom#map('normal', '<C-P>', '<denite:move_to_previous_line>')
    call denite#custom#map('insert', '<C-N>', '<denite:move_to_next_line>')
    call denite#custom#map('insert', '<C-P>', '<denite:move_to_previous_line>')
    " 入力履歴移動を<C-J>, <C-K>
    call denite#custom#map('insert', '<C-J>', '<denite:assign_next_text>')
    call denite#custom#map('insert', '<C-K>', '<denite:assign_previous_text>')
    " 縦割りオープンを`<C-o>`
    call denite#custom#map('insert', '<C-o>', '<denite:do_action:vsplit>')
    call denite#custom#option('default', 'prompt', '>')
    call denite#custom#source('file_rec', 'matchers', ['matcher_fuzzy','matcher_ignore_globs'])
    call denite#custom#filter('matcher_ignore_globs', 'ignore_globs',
	      \ [
        \ '.git/', '.ropeproject/', '__pycache__/',
	      \ 'venv/', 'images/', '*.min.*', 'img/', 'fonts/',
        \ '*.png', '*.npz', '*.bbl', '*.pdf', '*.toc', '*.gz', 
        \ '*.dvi', '*.aux', '*.log', '*.fls', '*.docx', '*.fdb_latexmk',
        \ '*.blg', '*.eps'
        \ ])
    if executable('rg')
      call denite#custom#var('file_rec', 'command',
            \ ['rg', '--files', '--glob', '!.git'])
      call denite#custom#var('grep', 'command', ['rg'])
    endif
'''

[[plugins]]
repo = 'Shougo/deoplete.nvim'
hook_add='''
  let g:deoplete#enable_at_startup = 1
  let g:deoplete#disable_auto_complete = 1
  inoremap <expr> <C-k>  deoplete#mappings#manual_complete()
  set splitbelow
  autocmd InsertLeave,CompleteDone * if pumvisible() == 0 | pclose | endif
'''

[[plugins]]
repo = 'vim-airline/vim-airline'

[[plugins]]
repo = 'vim-airline/vim-airline-themes'

[[plugins]]
repo = 'Townk/vim-autoclose'

[[plugins]]
repo = 'cohama/lexima.vim'

[[plugins]]
repo = 'Yggdroot/indentLine'

[[plugins]]
repo = 'flazz/vim-colorschemes'

[[plugins]]
repo = 'w0rp/ale'
hook_add='''
    let g:ale_linters = {
	    \'python':['flake8','autopep8'],
	    \'HTML':['HTMLHint'],
	    \'JavaScript':['eslint'],
	    \'c':['gcc'],
	    \'cpp':['gcc'],
      \'scala':['scalastyle'],
      \'go':['gofmt'],
	    \}
    let g:ale_sign_column_always = 1
    let g:ale_fixers = {
	    \'python':['autopep8'],
	    \'c':['clang-format'],
	    \'cpp':['clang-format'],
      \'scala':['scalastyle'],
      \'go':['gofmt'],
	    \}
    let g:ale_use_global_executables = 1
    nmap <S-f> <Plug>(ale_fix)"
    let g:ale_python_flake8_args = '--max-line-length=150'
    let g:ale_python_autopep8_args = '--max-line-length=150'
'''

[[plugins]]
repo = 'kana/vim-submode'
hook_add='''
    call submode#enter_with('bufmove', 'n', '', 's>', '<C-w>>')
    call submode#enter_with('bufmove', 'n', '', 's<', '<C-w><')
    call submode#enter_with('bufmove', 'n', '', 's+', '<C-w>+')
    call submode#enter_with('bufmove', 'n', '', 's-', '<C-w>-')
    call submode#map('bufmove', 'n', '', '>', '<C-w>>')
    call submode#map('bufmove', 'n', '', '<', '<C-w><')
    call submode#map('bufmove', 'n', '', '+', '<C-w>+')
    call submode#map('bufmove', 'n', '', '-', '<C-w>-')
'''

[[plugins]]
repo = 'scrooloose/nerdtree'
hook_add ='''
    "close vim if lesf window is a NERDTree only
    let g:nerdtree_tabs_open_on_console_startup=0
    autocmd bufenter * if (winnr("$") == 1 && exists("b:NERDTree") && b:NERDTree.isTabTree()) | q | endif
'''

[[plugins]]
repo = 'jistr/vim-nerdtree-tabs'

[[plugins]]
repo = 'Xuyuanp/nerdtree-git-plugin'

[[plugins]]
repo = 'tpope/vim-fugitive'

[[plugins]]
repo = 'airblade/vim-gitgutter'

[[plugins]]
repo = 'mattn/sonictemplate-vim'
hook_add ='''
    let g:sonictemplate_vim_template_dir = [
    	\ '~/.cache/templates'
	\]
'''


[[plugins]]
repo = 'derekwyatt/vim-scala'

[[plugins]]
repo = 'Shougo/unite.vim'

[[plugins]]
repo = 'Shougo/unite-outline'
hook_add ='''
nnoremap <silent> tr :<C-u>Unite -no-quit -vertical -winwidth=40 outline<CR>

" unite-outline の自動更新
let g:unite_source_outline_filetype_options = {
      \ '*': {
      \   'auto_update': 1,
      \   'auto_update_event': 'write',
      \ },
      \ 'cpp': {
      \   'ignore_types': ['enum', 'typedef', 'macro'],
      \ },
      \ 'javascript': {
      \   'ignore_types': ['comment'],
      \ },
      \ 'markdown': {
      \   'auto_update_event': 'hold',
      \ },
      \}
'''
